<mat-card>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" name="name" ngModel required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" name="email" ngModel required>
      </mat-form-field>

      <mat-form-field class="example-full-width" fixed-size>
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Your message" name="message" ngModel required rows="3"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" >Send</button>
    </form>
  </mat-card-content>
</mat-card>
