<mat-toolbar style="background: linear-gradient(to right, violet, indigo, blue, green, orange, red); position: fixed; bottom: 0; width: 100%;">
  <div style="width: 100%; text-align: center;">
    <!-- <button mat-button routerLink="/privacy">Privacy Policy</button>
    <button mat-button routerLink="/terms">Terms of Service</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/about">About</button> -->
    <!-- Copyright Text -->
    <span style="flex-grow: 1; text-align: right; padding-right: 20px;">
      © 2024 Government Polytechnic Meerut. All rights reserved.
    </span>
  </div>
</mat-toolbar>
